<footer>
  <div class="copyright">
    <i class="fa fa-copyright"></i> {{ 'now' | date: "%Y" }} Ryan Rosenfeld
  </div>
  <div class="links">
    <a href="mailto:ryro003@gmail.com">
      <span class="social-link">
        <i class="fa fa-envelope"></i>
      </span>
    </a>
    
    <a href="https://github.com/ryandrosenfeld">
      <span class="social-link">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a href="https://www.linkedin.com/in/ryan-rosenfeld-a4380a10b/">
      <span class="social-link">
        <i class="fa fa-linkedin"></i>
      </span>
    </a>
  </div>
</footer>