body {
  background-image: radial-gradient(
    circle farthest-corner, 
    color(white1),
    color(white2) 70%, 
    color(grey1));
  min-height: 100vh;
}

#content {
  padding: 100px 100px 0 100px;
}