body {
  background-image: radial-gradient(
    circle farthest-corner, 
    color(white1),
    color(white2) 70%, 
    color(grey1));
  min-height: 100vh;
}

#content {
  padding: 100px 100px 30px;
}

.framed {
  border: 8px groove transparent;
  border-image: url("#{$baseurl}/assets/images/wood_panelling.jpg") 30% stretch;
  padding: 20px;
  background: white;
  justify-self: center;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2), 
            2px 2px 2px rgba(0,0,0,0.2), 
            3px 4px 4px rgba(0,0,0,0.2), 
            4px 8px 8px rgba(0,0,0,0.2),
            5px 16px 16px rgba(0,0,0,0.2),
            6px 32px 32px rgba(0,0,0,0.2);

  .frame-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: -3px 3px 10px rgba(0,0,0,0.82) inset;
    position: relative;
  }

  .frame-content {
    padding: 30px 40px;
    background: rgba(22,27,33,.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1, h2, p {
      color: white;
    }
  }
}