$nav-height: 80px;

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;

  h1, a {
    color: color(brown);
  }

  nav {
    display: flex;

    a {
      margin-right: 20px;
      transform: margin-top 0.8s;
      font-size: 18px;
  
      &.current {
        color: color(gold2);
        @include bold();
      }
  
      &:hover {
        margin-top: -2px;
      }
    }
  }
}

.content {
  top: $nav-height;
  // main.css sets the rest of the styles
}