.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  align-items: start;
  grid-auto-rows: 100vh;

  .project:nth-of-type(even) {
    align-self: end;
  }

  .project:nth-of-type(2n+3) {
    align-self: start;
  }

  .project.framed {
    padding: 50px;
  }

  .frame-image {
    width: 50vh;
    height: 70vh;
    cursor: pointer;

    .frame-content {
      opacity: 0;

      .project-description, .check-it {
        opacity: 0;
        color: white;
      }

      .check-it  {
        @include font-size(l);

        i {
          margin-left: 5px;
          transform: rotateZ(-90deg);
        }
      }
    }

    &:hover {
      .frame-content, .project-description, .check-it {
        opacity: 1;
      }

      .frame-content {
        transition: opacity 0.2s;
      }

      .project-description {
        transition: opacity 1s;
      }

      .check-it {
        transition: opacity 0.5s 0.7s;

        i {
          transition: transform 0.4s 1s;
          transform: none;
        }
      }
    }
  }

  .project-title {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: color(brown1);
    font-family: 'Reenie Beanie';
    @include font-size(xxl);
  }
}