@mixin font-style {
  font-weight: 500;
  color: #0E2843;
}

body {
  font-family: "Muli";
}

h1, h2, h3, h4, h5, p, a {
  @include font-style();
}

a {
  text-decoration: none;

  &:hover {
    color: #5688AB;
  }
}