@mixin font-style {
  font-weight: 400;
  color: color(brown1);
}

@mixin bold {
  font-weight: 800;
}

body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  @include font-style();
}

p {
  margin: 0 0 16px;
}

a {
  text-decoration: none;

  &:hover {
    color: color(gold1);
  }
}

.bold {
  @include bold();
}