$fonts: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 18px,
  xl: 22px,
);

@mixin font-style {
  font-weight: 400;
  color: color(brown1);
  margin-top: 0;
}

@mixin bold {
  font-weight: 800;
}

@mixin font-size($size) {
  font-size: map-get($fonts, $size);
}

body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  @include font-style();
}

a {
  text-decoration: none;

  &:hover {
    color: color(gold1);
  }
}

.bold {
  @include bold();
}